* {
  text-decoration: none !important;
}

.headerStyles {
  height: 86px;
  background-color: var(--color-soft-blue);
  max-width: 100vw !important;
  border: 0 !important;
}

.headerTitle {
  height: auto;
  width: auto;
  cursor: pointer !important;
  z-index: 10;
}
.headerTitle a label {
  color: white !important;
  text-transform: uppercase;
  padding: 1rem;
  cursor: pointer !important;
  font-size: 26px;
}
.texts {
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.texts a {
  font-size: 16px;
  font-weight: 500;
  color: white !important;
}

.headerLinks {
  height: 86px !important;
  padding: 0rem 0.5rem !important;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: sticky;
  top: 0;
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.3rem;
}

.headerLinks:hover {
  background-color: var(--color-hover-blue);
}

.headerSuperLink {
  height: 86px !important;
  padding: 0rem 0.5rem !important;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: var(--color-primary);
  justify-content: center;
  cursor: pointer;
  position: sticky;
  top: 0;
  color: white !important;
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.2rem;
}

@media (max-width: 995px) {
  .headerStyles {
    height: auto;
  }
  .headerLinks {
    height: 60px !important;
    padding: 0.5rem !important;
  }
}
